Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /etat-d-avancement/

    # Forcer la redirection vers public/index.php
    RewriteCond %{REQUEST_URI} !^/etat-d-avancement/public/
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>
